/* Links */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
    background-color: rgba(239, 89, 57, 0.05);
}
body {
    margin: auto;
    max-width: 1000px;
}
/* About Me Section */
.AboutMe {
   display: grid;
   padding-top: 30px;
   padding-bottom: 30px;
   margin: auto;
   grid-template-columns: 2;
   grid-template-areas:
        "margieImage about"
}
.margieImage{
    flex: 50%;
    background-image: url(../Images/margie.JPG);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 30px;
    grid-area: margieImage;
}
.about {
    flex: 50%;
    padding-left: 30px;
    margin-left: 30px;
    grid-area: about;
}
h1 {
    font-family: Avenir;
    font-size: 42px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.22px;
    color: #2d354e;
    margin-bottom: 0;
}
h2 {
  font-family: Avenir;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.69px;
  color: #2d354e;
  padding: 0;
  margin: 0;
}
h3 {
    font-family: Avenir;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.69px;
    color: #2d354e;
    padding: 0;
    margin: 0;
}
.description {
    width: 458px;
  height: 154px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.84px;
  color: #2d354e;
  grid-area: description;
}
.funFacts {
    width: 387px;
    height: 57px;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.74px;
    color: #2d354e;
}
#quote {
    width: 252px;
    height: 66px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    color: #ffffff;
}
.quote {
    width: 283px;
    height: 66px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    color: #ffffff;
    background-color: rgba(45,53,78,0.5);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 300px;
    margin-left: -20px;
}

/* Social Media Icons */
a {
    text-decoration: none;
    color: #ef5939;
}
.socialIcons {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-area: socialIcons;
}
.socialIcon {
    background-color: rgba(239, 89, 57, 0.01);
    color: #2d354e;
    border: none;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 12px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(45,53,78,0.2);
    transition: all 0.3s ease 0s;
    outline: none;
    height: 50px;
    font-size: 14px;
}
.socialIcon:hover {
    background-color: #D9716F;
    box-shadow: 0px 15px 20px rgba(217,113,111,0.5);
    color: #fff;
    transform: translateY(-4px);
}

/* Case Study Section */
hr {
    width: 872px;
    height: 1px;
    border: solid 3px #ef5939;
}
.caseStudy1 {
    display: flex;
    flex-direction: column;

}
.divider {
    height: 25px;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.95px;
    color: #2d354e;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
button:hover {
    opacity: 0.8;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.invision {
    background-color: #ef5939;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    margin: 10px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(217,113,111,0.2);
    transition: all 0.3s ease 0s;
    outline: none;
    height: 50px;
    font-size: 14px;
}
.slideDeck {
    background-color: #2d354e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    margin: 10px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(45,53,78,0.2);
    transition: all 0.3s ease 0s;
    outline: none;
    height: 50px;
    font-size: 14px;
}
.MBAimage {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-start: 2;
}
#MBAimage {
    max-width: 1000px;
    padding-top: 50px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-areas:
        "myInfo socialIcons";
    grid-template-rows: 100px 100px 100px;
    color: #fff;
    font-family: Avenir;
    padding-top: 30px;
    background-color: #2d354e;
    height: 200px;
    margin: auto;
}
.myInfo {
    grid-area: myInfo;
    padding-left: 40px;
}
.socialIconF {
    background-color: #fff;
    color: #2d354e;
    border: none;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 10px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(45,53,78,0.2);
    transition: all 0.3s ease 0s;
    outline: none;
    height: 50px;
    font-size: 14px;
}
.socialIconF:hover {
    background-color: #D9716F;
    box-shadow: 0px 15px 20px rgba(217,113,111,0.5);
    color: #fff;
    transform: translateY(-4px);
}
button {
    background-color: #fff;
    color: #2d354e;
    border: none;
    cursor: pointer;
    padding: 4px 16px 4px 16px;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    margin: 10px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
    height: 25px;
    font-size: 14px;
}
/* Media Queries */
